.skill__inner {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px){ 
        flex-direction: column;
    }

    .skill__title {
        position: sticky;
        top: 70px;
        left: 0;
        width: 48%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.4vw solid var(--black100);

        @media (max-width: 800px){ 
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            top: 68px;
            background-color: var(--mainBg-color);
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    .skill__desc {
        width: 50%;
        margin-top: 3vh;

        @media (max-width: 1600px){ 
            margin-top: 5vh;
            }

        @media (max-width: 800px){ 
            width: 100%;
            margin-top: 2vh;
        }

        span {
            font-size: 3vw;
            line-height: 2;
            font-weight: 900;
            line-height: 2;
            font-family: var(--mainNum-font);

            @media (max-width: 800px){ 
                font-size: 5vw;
            }
        }
        h3 {
            font-size: 1.5rem;
            text-decoration: underline;
            text-underline-position: under;
            margin-bottom: 1vw;
            
            @media (max-width: 800px){ 
                margin-bottom: 5vw;
            }
        }
        p {
            margin-bottom: 25vh;
            font-size: 1.1rem;
        }
        img {
            width: 40px;
            height: 40px;
        }
    }
}
.grid {
    display: grid;
    width: 100%;
    padding-bottom: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.25rem;
}

.img1 {
    position: relative;
    background-color: #00000063;
    width: 50%;
    height: 0px;
    padding-bottom: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.img2 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.tools__title {
    font-size : 1.5rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    white-space: pre-wrap;
    font-weight: 700;
    font-style: bold;

    @media (max-width: 800px) {
        font-size: 1.2rem;
        margin-top: 2vw;
    }
}